.container{
    display: flex;
    justify-content: center;
}
.sidebar{
    display: flex;
    height:80vh;
    width:100%;
    flex-direction: column;
    flex:1;
    padding-left: 20px;
    border-right: 1px solid #E8E8E8;
   
}
.link{
    text-decoration: none;
    gap: 10px;
    font-size: 20px;}
.link:hover{
    cursor:pointer;
    box-shadow: 2px 2px   #E8E8E8;
    border-left-color: red;


}
.content{
    flex:4;
    padding-top: 20px;
    padding-left:20px;

}